schedules:
# Run from Monday to Friday at 5:30 UTC (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/scheduled-triggers?view=azure-devops&tabs=yaml#cron-syntax)
- cron: "0 8 * * Mon"
  displayName: Weekly build
  branches:
    include:
    - master
  always: true

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: SonarCloudPrepare@4
  inputs:
    SonarCloud: 'SonarCloud PayBySquare.NET Service Connection'
    organization: 'pavlinii'
    scannerMode: 'dotnet'
    projectKey: 'PayBySquare.TextGenerator.NET'
    projectName: 'PayBySquare.TextGenerator.NET'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'

- task: SonarCloudAnalyze@4

- powershell: |
    dotnet pack --no-build --no-restore --output $(Build.ArtifactStagingDirectory)/NuGets /p:BuildNumber=$(Build.BuildId) PayBySquare.TextGenerator.NET\PayBySquare.TextGenerator.NET.vbproj
  displayName: Pack

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)/NuGets'
    artifactName: 'NuGetPackages'


- task: SonarCloudPublish@4
  inputs:
    pollingTimeoutSec: '300'